.qwe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
   
}
.rst{
    display: flex;
    flex-direction: column;
}
.save{
    width: 20px;

}